/* General styles for the product information section */
.site-main .product-info {
    width: 50%;
    padding-left: 15px;
    font-family: 'Arial', sans-serif;
}

.site-main .product-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.site-main .product-review {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 10px 0;
}

.site-main .product-review ul,
.site-main .product-review ul li {
    display: flex;
}

.site-main .product-review ul i {
    color: gold;
    font-size: 18px;
}

.site-main .product-review span {
    font-weight: 600;
    font-size: 14px;
}

.site-main .product-price {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 15px 0;
}

.site-main .product-price s {
    font-size: 18px;
    color: #dee0ea;
}

.site-main .product-price strong {
    font-size: 24px;
    color: #a21232;
}

.site-main .product-description {
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0;
    color: #555;
}

.site-main .colors .colors-wrapper {
    display: flex;
    column-gap: 4px;
    margin-left: -1px;
}

.site-main .colors .colors-label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.site-main .colors .color-wrapper {
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.site-main .colors .color-wrapper.active,
.site-main .colors .color-wrapper:hover {
    border-color: #a21232;
}

.site-main .colors .color-wrapper label {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.site-main .values {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.site-main .values .values-label span {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.site-main .values .values-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.site-main .values .values-list span {
    padding: 8px 40px;
    border: 1px solid #dee0ea;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: 0.2s ease all;
}

.site-main .values .values-list span.active,
.site-main .values .values-list span:hover {
    background-color: #a21232;
    color: #fff;
}

.site-main .cart-button {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}

.site-main .cart-button input {
    width: 60px;
    text-align: center;
}

.site-main .cart-button button {
    flex: 1;
    background-color: #a21232;
    color: #fff;
    border: 1px solid #a21232;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.site-main .cart-button button:hover {
    background-color: #1a1831;
    border-color: #1a1831;
}

.site-main .cart-button button:disabled {
    background-color: #1367ef;
    color: #fff;
    border-color: #1367ef;
}

.site-main .product-extra-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.site-main .product-extra-buttons a {
    font-size: 12px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
}

.site-main .divider {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee0ea;
    margin-top: 20px;
}

.site-main .product-meta {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 20px;
    font-size: 13px;
}

.site-main .product-meta .product-categories,
.site-main .product-meta .product-tags {
    display: flex;
    gap: 5px;
}

.site-main .product-meta strong {
    color: #333;
}
